 .link{
  text-decoration: none;
  color:white
}

.logo-container{
    height: 3.125rem;
    width: 3.125rem;
    gap: 0.5rem;
}

.logo-image{
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 3.125rem;
  object-fit:cover;
  object-position: center;
}












