.register{
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
  /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
  /* background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.alamy.com%2Fstock-photo%2Forgan-donation-concept.html&psig=AOvVaw3mkyVr6atlq7P1EcMsIWlb&ust=1732265512312000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJi9mtKG7YkDFQAAAAAdAAAAABAE'); */
  background-color: rgb(255, 230, 196);
  color: rgb(134, 44, 44);

}
input{
  border:2px solid rgb(163, 83, 83);
}
select{
  border:2px solid rgb(163, 83, 83);
}
button{
  color:rgb(255, 230, 196);
}