.about-img{
  width:20rem ;
  height: 20rem;
  object-fit: cover;
  object-position: center;
  
}

.about-link{
  text-decoration: none;
  color: white;
}

.about{
  background-color: #FAF9F6;
}

.about-container{
  background-color: #FAF9F6;
}